<!doctype html>
<html lang="{{ record['code'] }}">
    <head>
        <meta charset="utf-8">
        <title>{{ record['title'] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ record['description']|e }}">
        {% if favico is not empty %}<link rel="icon" href="{{ favico }}" type="image/x-icon">{% endif %}
        {% if shortcut_icon is not empty %}<link rel="shortcut icon" href="{{ shortcut_icon }}" type="image/png">{% endif %}
        {% if apple_touch_icon is not empty %}<link rel="apple-touch-icon" href="{{ apple_touch_icon }}">{% endif %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">
        <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    </head>
    <body>
        <main class="container" style="width:50rem;margin-top:.75rem;margin-bottom:.75rem;">
            <header class="border-bottom mb-3">
                <a href="{{ 'pages'|link }}" class="d-flex text-decoration-none">
                    <span class="fs-4 text-uppercase"><i class="bi bi-easel"></i> {{ 'dashboard'|text }}</span>
                </a>
            </header>
            <h2>{{ record['title'] }}</h2>
            {% if record['photo'] is not empty %}
            <img class="img-fluid mt-1" file-data-fancybox src="{{ record['photo'] }}">
            {% endif %}
            <div class="col-12 mt-1">
                {{ record['content'] }}
            </div>
        </main>
        <script type="text/javascript">
            if (localStorage.getItem('data-bs-theme') === 'dark') {
                document.body.setAttribute('data-bs-theme', 'dark');
            }            
            document.addEventListener('DOMContentLoaded', function () {
                Fancybox.bind('[file-data-fancybox]', {groupAll: true});
            });
        </script>
    </body>
</html>
