<div class="container">
    <div class="row">
        <h5 class="text-light bg-danger text-uppercase">
            {{ 'recent-news'|text }}
        </h5>
        <ul>
            {% for news in recent %}
                {% set href = 'news'|link({id:news['id']}) %}
                <li class="mt-2 mb-4 {{ loop.index0 is odd ? '' : 'bg-light' }}">
                    {% if news['photo'] is not empty and news['photo'] is not null %}
                    <div class="img-fluid img-thumbnail d-block">
                        <a href="{{ href }}">
                            <img src="{{ news['photo'] }}" height="100">
                        </a>
                    </div>
                    {% endif %}
                    <span class="text-secondary d-block">{{ news['published_at'] }}</span>
                    <h6 class="d-block">
                        <a href="{{ href }}" class="text-decoration-none">{{ news['title'] }}</a>
                    </h6>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
