<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<section class="section border-0 m-0">
    <div class="container">
        <div class="row">
            <div class="align-self-center p-static text-center">
                <h3 class="font-weight-bold text-dark pt-0 pb-4 mt-0 mb-4">{{ 'news-list'|text }}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="blog-posts">
            <div class="row" data-masonry='{"percentPosition": true }'>
                {% for news in records %}
                    <div class="col-md-4">
                        {% set href = 'news'|link({id:news['id']}) %}
                        <article class="post post-medium border-0 pb-0 mb-4">
                            {% if news['photo'] is not empty %}
                            <div class="post-image">
                                <a href="{{ href }}">
                                    <img src="{{ news['photo'] }}" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="{{ news['title'] }}" />
                                </a>
                            </div>
                            {% endif %}
                            <div class="post-content bg-color-light p-3">
                                <a href="{{ href }}" class="bg-tertiary p-1 text-color-light" style="border-radius:3px">
                                    {{ news['published_at']|date('Y-m-d') }}
                                </a>
                                <h4 class="line-height-5 mt-1 mb-2">
                                    <a href="{{ href }}">{{ news['title'] }}</a>
                                </h4>
                                {% if news['description'] is not empty %}
                                    <p>{{ news['description'] }}</p>
                                {% endif %}
                                <div class="post-meta">
                                    <span><i class="far fa-eye"></i> {{ news['read_count'] }} </span>
                                    <span><i class="far fa-folder"></i> {{ news['type'] }}, {{ news['category'] }} </span>
                                    <span class="d-block mt-2"><a href="{{ href }}" class="btn btn-xs btn-light text-1 text-uppercase">{{ 'read-more'|text }}</a></span>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
