<div class="d-flex flex-wrap justify-content-between align-items-center text-uppercase rounded p-1 mb-2 shadow">
    <h3 class="px-2 my-auto fs-6 text-secondary text-uppercase">
        <i class="bi bi-list"></i> {{ 'logs'|text }}
    </h3>
    <div class="ms-auto">
        <a class="btn btn-sm btn-secondary text-uppercase shadow-sm" href="{{ 'home'|link }}">
            <i class="bi bi-house-door-fill"></i> {{ 'home'|text }}
        </a>
    </div>
</div>
<ul class="nav nav-tabs" role="tablist">
{% for table in log_tables %}
    <li class="nav-item">
        <a class="nav-link{% if table == 'dashboard' %} active{% endif %} text-uppercase" role="tab" data-bs-toggle="tab" href="#log_{{ table }}">{{ table }}</a>
    </li>
{% endfor %}
</ul>
<div class="tab-content mt-3">
{% for table in log_tables %}
    <div class="tab-pane{% if table == 'dashboard' %} active{% endif %}" id="log_{{ table }}" style="width:100%;height:80.5vh;min-height:400px;overflow-y:auto;overflow-x:hidden;">
        <div class="spinner-grow" role="status" style="display:none">
            <span class="visually-hidden">Loading logs...</span>
        </div>
        <ul class="list-group logger-protocol" id="logger-{{ table }}">
        </ul>
    </div>
{% endfor %}
</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    const logsRetrieveLink = `{{ 'logs-retrieve'|link }}`;
    const logsViewLink = `{{ 'logs-view'|link }}`;
    document.querySelectorAll('ul.logger-protocol').forEach(function (logger) {
        let logger_id = logger.id ?? '';
        let table = logger_id.substring(logger_id.indexOf('-') + 1);
        if (!table) return;
        
        logger.style.display = 'none';
        let spinner = logger.previousElementSibling;
        spinner.style.display = 'block';
        fetch(
            `${logsRetrieveLink}?table=${table}`,
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'ORDER BY': 'id Desc',
                    'LIMIT':  10000
                })
            }
        ).then(res => {
            return res.json();
        }).then(response => {
            if (response.error) {
                throw new Error(response.error ?? `{{ 'something-went-wrong'|text|e }}`);
            }

            logger.innerHTML = '';

            let logModalLink = `${logsViewLink}?table=${table}&id=`;
            Object.values(response).forEach(log => {
                let log_li = document.createElement('li');
                log_li.classList.add('list-group-item', 'list-group-item-action');
                switch (log.level) {
                    case 'notice': log_li.classList.add('list-group-item-light'); break;
                    case 'info': log_li.classList.add('list-group-item-primary'); break;
                    case 'error': log_li.classList.add('list-group-item-danger'); break;
                    case 'warning': log_li.classList.add('list-group-item-warning'); break;
                    case 'alert': log_li.classList.add('list-group-item-info'); break;
                    case 'debug': log_li.classList.add('list-group-item-secondary'); break;
                    default: log_li.classList.add('list-group-item-dark'); break;
                }

                let a_link = document.createElement('a');
                a_link.textContent = `${log.created_at} [${log.id}]`;
                a_link.href = logModalLink + log.id;
                a_link.setAttribute('data-bs-target', '#static-modal');
                a_link.setAttribute('data-bs-toggle', 'modal');
                a_link.addEventListener('click', function (e) {
                    e.preventDefault();
                    ajaxModal(a_link);
                });
                log_li.appendChild(a_link);
                log_li.appendChild(document.createTextNode(' '));

                let span_msg = document.createElement('span');
                span_msg.innerHTML = log.message;
                log_li.appendChild(span_msg);
                log_li.appendChild(document.createTextNode(' '));

                let span_user_action = document.createElement('span');
                span_user_action.innerHTML = `<span class="text-muted small"><u>${log.context.action ?? ''} by ${log.context.auth_user?.username ?? ''}</u></span>`;
                span_user_action.classList.add('text-muted', 'small');
                log_li.appendChild(span_user_action);

                logger.appendChild(log_li);
            });

        }).catch(error => {
            console.log(error.message);
        }).finally(() => {
            logger.style.display = '';
            spinner.style.display = 'none';
        });
    });
});
</script>
