<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title fs-6 text-uppercase text-primary">
                <i class="bi bi-sliders"></i> Options
            </h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="{{ 'close'|text|e }}"></button>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <label class="col-3 col-form-label text-end">Theme:</label>
                <div class="col-9">
                    <div class="mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="theme" id="themeLight" value="light" style="cursor:pointer">
                            <label class="form-check-label" for="themeLight" style="cursor:pointer">Light</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="theme" id="themeDark" value="dark" style="cursor:pointer">
                            <label class="form-check-label" for="themeDark" style="cursor:pointer">Dark</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-3 col-form-label text-end">Language:</label>
                <div class="col-9">
                    {% set current = localization.code ?? 'en' %}
                    {% for code,language in localization.language %}
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input" type="radio" name="language" id="lang_{{ code }}" value="{{ code }}" style="cursor:pointer"{% if code == current %} checked{% endif %}>
                            <label class="form-check-label" for="lang_{{ code }}" style="cursor:pointer">
                                {% set flag = code == 'en' ? 'us' : code %}
                                <img src="https://flagcdn.com/20x15/{{ flag }}.png" srcset="https://flagcdn.com/40x30/{{ flag }}.png 2x" width="20" height="15"> {{ language['title'] }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="optConfirmBtn">
                <i class="bi bi-check-all"></i> Confirm
            </button>
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                Cancel
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    const light = document.querySelector('input#themeLight');
    const dark = document.querySelector('input#themeDark');
    if (document.body.getAttribute('data-bs-theme') === 'dark') {
        dark.checked = true;
    } else {
        light.checked = true;
    }

    const optionConfirm = document.querySelector('button#optConfirmBtn');
    optionConfirm?.addEventListener('click', function (e) {
        e.preventDefault();

        this.growNstop();

        const theme = document.querySelector('input[type="radio"][name="theme"]:checked');
        localStorage.setItem('data-bs-theme', theme?.value);

        const language = document.querySelector('input[type="radio"][name="language"]:checked');
        if (language?.value !== `{{ current }}`) {
            let xhr = new XMLHttpRequest();1
            xhr.open('GET', `{{ 'login'|link }}/language/${language.value}`, false);
            xhr.send();
        }
        window.location.reload();
    });
</script>
