<div class="modal-xl modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title fs-6 text-uppercase text-primary">
                <i class="bi bi-person-plus-fill"></i> {{ 'request-new-user'|text }}
            </h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="{{ 'close'|text|e }}"></button>
        </div>
        <div class="modal-body">
            <table class="table table-hover table-striped-columns table-bordered" id="new_user_requests">
                <thead>
                    <tr>
                        <th class="text-primary" scope="col">{{ 'username'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'email'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'language'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'date-created'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'status'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'action'|text }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td scope="row"><strong>{{ row['username'] }}</strong></td>
                            <td>{{ row['email'] }}</td>
                            <td>
                                {% set flag =  row['code'] == 'en' ? 'us' :  row['code'] %}
                                <img src="https://flagcdn.com/20x15/{{ flag }}.png" srcset="https://flagcdn.com/40x30/{{ flag }}.png 2x" width="20" height="15">
                            </td>
                            <td>{{ row['created_at'] }}</td>
                            <td>
                                {% if row['status'] == 2 %}
                                    <span class="badge bg-info">approved</span>
                                {% elseif row['is_active'] == 0 %}
                                    <span class="badge bg-danger">deleted</span>
                                {% else %}
                                    <span class="badge bg-warning">waiting</span>
                                {% endif %}    
                            </td>
                            <td>
                                {% if row['is_active'] == 1 %}
                                    {% if user.can('system_user_insert') %}
                                        <button class="approve-user-request btn btn-sm btn-success mb-1 shadow-sm" value="{{ row['id'] }}" type="button">
                                            <i class="bi bi-person-check"></i> {{ 'accept'|text }}
                                        </button>
                                    {% endif %}
                                    {% if user.can('system_user_delete') %}
                                        <button class="delete-user-request btn btn-sm btn-danger mb-1 shadow-sm" value="{{ row['id'] }}" type="button">
                                            <i class="bi bi-trash"></i> {{ 'delete'|text }}
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary shadow-sm" data-bs-dismiss="modal" type="button">{{ 'close'|text }}</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    let acceptQuestion, questionDeletion;
    if (document.documentElement.lang === 'mn') {
        acceptQuestion = '<p class="text-primary">Та ({0}) хэрэглэгчийн бүртгүүлэх хүсэлтийг зөвшөөрөхдөө итгэлтэй байна уу?</p>';
        questionDeletion = '<p class="text-danger">Та ({0}) хэрэглэгчийн бүртгүүлэх хүсэлтийг устгахдаа итгэлтэй байна уу?</p>';
    } else {
        acceptQuestion = '<p class="text-primary">Are you sure to accept this user request ({0})?</p>';
        questionDeletion = '<p class="text-danger">Are you sure to delete this user request ({0})?</p>';
    }
    const newbies = new motable('table#new_user_requests');
    const requestWaits = newbies.table.querySelectorAll('.approve-user-request');
    requestWaits.forEach(btn => btn.addEventListener('click', function (e) {
        e.preventDefault();

        let thisRow = btn.closest('tr');
        if (!thisRow) {
            return NotifyTop('warning', `{{ 'error'|text|e }}`, "Can't find parent row!");
        }
        let name = (`${thisRow.children[0].innerHTML} => ${thisRow.children[1].innerHTML}`).replace(/<\/?[^>]+(>|$)/g, '');
        Swal.fire({
            html: `<i class="bi bi-person-plus text-info mb-2" style="font-size:3rem"></i>${acceptQuestion.format(name)}`,
            showCancelButton: true,
            cancelButtonText: `{{ 'no'|text|e }}`,
            confirmButtonText: `<i class="bi bi-check"></i> {{ 'yes'|text|e }}`,
            confirmButtonColor: '#0d6efd',
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: true,
            preConfirm: (willAccept) => {
                if (!willAccept) {
                    return;
                }
                
                return fetch(
                    `{{ 'user-request-approve'|link }}`,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({id: btn.value})
                    }
                ).then(res => {
                    return res.json();
                }).then(response => {
                    if (response.status !== 'success') {
                        throw new Error(response.message ?? 'Invalid response!');
                    }
                    
                    Swal.close();
                    
                    NotifyTop('success', `{{ 'success'|text|e }}`, response.message ?? 'User accepted');

                    thisRow.children[4].innerHTML = '<span class="badge bg-info">approved</span>';
                    thisRow.children[5].innerHTML = '';
                    
                    let user = response.record;
                    
                    if (!window.usersTbl) {
                        return;
                    }
                    
                    let indexLink = `{{ 'users'|link }}`;
                    let orgIndexLink = `{{ 'organizations'|link }}`;
                    let canUpdate = `{{ user.can('system_user_update') ? 'true' : '' }}`;
                    let canDelete = `{{ user.can('system_user_delete') ? 'true' : '' }}`;
                    let orgUserLink = `{{ user.can('system_user_organization_set') ? 'users-set-organization'|link ~ '?user_id=' : '' }}`;
                    let userRoleLink = `{{ user.can('system_rbac') ? 'users-set-role'|link ~ '?id=' : '' }}`;
                    let rbacRoleViewLink = `{{ 'rbac-role-view'|link }}`;
                    let statuses = document.documentElement.lang === 'mn' ? ['идэвхгүй', 'идэвхтэй'] : ['inactive', 'active'];
                    let photo;
                    if (user.photo) {
                        photo = `<img class="img-fluid img-thumbnail" src="${user.photo}" style="max-width:60px;max-height:60px">`;
                    } else {
                        photo = '<i class="bi bi-person-bounding-box text-secondary" style="font-size:2rem"></i>';
                    }

                    let userProfile = `<strong>${user.username}</strong>`;
                    if (!user.status) {
                        userProfile += `<span class="badge bg-danger-subtle ms-3">${ statuses[user.status] ?? user.status}</span>`;
                    }
                    let fullName = `${user.first_name ?? ''} ${user.last_name ?? ''}`;
                    if (fullName.length > 1) {
                        userProfile += '<br/>';
                    }
                    userProfile += fullName;
                    userProfile += `<hr style="margin:0.2rem 0 0 0;"><div style="font-size:.8rem"><a class="text-decoration-none" href="mailto:${user.email}"><i class="bi bi-envelope-at"></i></a> ${user.email}</div>`;
                    if (user.phone) {
                        userProfile += `<div style="font-size:.8rem;"><a class="text-decoration-none" href="tel:${user.phone}"><i class="bi bi-telephone"></i></a> ${user.phone}</div>`;
                    }

                    let isCoder = Object.values(user.roles ?? []).includes('system_coder');
                    let orgUserHtml = !orgUserLink ? ''
                        : `<a class="ajax-modal-${user.id} btn btn-dark btn-sm shadow-sm mb-1" style="--bs-btn-font-size:.7rem;" href="${orgUserLink}${user.id}" data-bs-target="#static-modal" data-bs-toggle="modal"><i class="bi bi-bank"></i></a>`;
                    if (isCoder) {
                        orgUserHtml += ' <span class="badge bg-secondary fw-normal shadow-sm">system_coder can enter any organization</span><br/>';
                    }
                    user.organizations?.forEach(org => {
                        orgUserHtml += ` <a class="ajax-modal-${user.id} badge text-bg-light text-decoration-none ${org.alias === 'system' ? '' : 'fw-normal '}shadow-sm" href="${orgIndexLink}/view/${org.id}" data-bs-target="#static-modal" data-bs-toggle="modal">${org.name}</a>`;
                    });

                    let rolesHtml = !userRoleLink ? ''
                        : `<a class="ajax-modal-${user.id} btn btn-sm btn-dark shadow-sm mb-1" style="--bs-btn-font-size:.7rem;" href="${userRoleLink}${user.id}" data-bs-target="#static-modal" data-bs-toggle="modal"><i class="bi bi-shield-fill-check"></i></a>`;
                    if (isCoder) {
                        rolesHtml += ' <span class="badge bg-secondary fw-normal shadow-sm">system_coder can do all the actions</span><br/>';
                    }
                    for (let role_id in user.roles ?? []) {
                        rolesHtml += ` <a class="ajax-modal-${user.id} badge text-bg-light text-decoration-none ${user.roles[role_id] === 'system_coder' ? '' : 'fw-normal '}shadow-sm" href="${rbacRoleViewLink}?role=${user.roles[role_id]}" data-bs-target="#static-modal" data-bs-toggle="modal">${user.roles[role_id]}</a>`;
                    }

                    let buttons = [`<a class="btn btn-sm btn-info mt-1 shadow-sm" href="${indexLink}/view/${user.id}"><i class="bi bi-eye"></i></a>`];
                    if (canUpdate) {
                        buttons.push(`<a class="btn btn-sm btn-primary mt-1 shadow-sm" href="${indexLink}/update/${user.id}"><i class="bi bi-pencil-square"></i></a>`);
                    }
                    if (canDelete) {
                        buttons.push(`<button class="delete-user btn btn-sm btn-danger mt-1 shadow-sm" type="button" value="${user.id}"><i class="bi bi-trash"></i></button>`);
                    }
                    let actions = `<div class="mb-1">${buttons.join(' ')}</div>`;
                
                    let usersBody = window.usersTbl.table.querySelector('tbody');
                    usersBody.innerHTML = `<tr><th scope="row">${user.id}</th><td>${photo}</td><td>${userProfile}</td><td>${orgUserHtml}</td><td>${rolesHtml}</td><td>${actions}</td></tr>` + usersBody.innerHTML;
                    window.usersTbl.setReady();
                    const modals = usersBody.querySelectorAll(`.ajax-modal-${user.id}`);
                    modals.forEach(a => a.addEventListener('click', function (e) {
                        e.preventDefault();
                        ajaxModal(a);
                    }));
                }).catch(error => {
                    Swal.showValidationMessage(error.message);
                });
            }
        });
    }));
    
    const requestDeletes = newbies.table.querySelectorAll('.delete-user-request');
    requestDeletes.forEach(btn => btn.addEventListener('click', function (e) {
        e.preventDefault();

        let thisRow = btn.closest('tr');
        if (!thisRow) {
            return NotifyTop('warning', `{{ 'error'|text|e }}`, 'Cannot select row!');
        }
        let name = (`${thisRow.children[0].innerHTML} => ${thisRow.children[1].innerHTML}`).replace(/<\/?[^>]+(>|$)/g, '');
        Swal.fire({
            html: `<i class="bi bi-person-x-fill text-danger mb-2" style="font-size:3rem"></i>${questionDeletion.format(name)}`,
            showCancelButton: true,
            cancelButtonText: `{{ 'no'|text|e }}`,
            confirmButtonText: `<i class="bi bi-check"></i> {{ 'yes'|text|e }}`,
            confirmButtonColor: '#f32750',
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: true,
            preConfirm: (willDelete) => {
                if (!willDelete) {
                    return;
                }
                
                return fetch(
                    `{{ 'user-request-delete'|link }}`,
                    {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({id: btn.value, name})
                    }
                ).then(res => {
                    return res.json();
                }).then(response => {
                    if (response.status !== 'success') {
                        throw new Error(response.message ?? 'Invalid response!');
                    }
                    
                    Swal.close();

                    NotifyTop('success', `{{ 'success'|text|e }}`, response.message ?? `User (${name}) request deleted`);

                    thisRow.remove();
                    newbies.setReady();
                }).catch(error => {
                    Swal.showValidationMessage(error.message);
                });
            }
        });
    }));
</script>
